.footer
  .footer__logo Street Address 
  .footer__logo Postal Address 
  .footer__logo Contact Our Agent Now!
  .footer__logo2 Power Near Rucker Road 4255 United States
  .footer__logo2 PO Box 16122 Collins Street Victoria 8007 Australia
  .footer__logo3 +1 800 123 1234
  .footer__logo4 
   .footer_position &copy; by PayEasy Loans Authority.