
header.header

.header_align

  .header_data_merge 
    .header_loan_logo
      img(src='img/company.png' alt='Loan logo' height="105")

    .header_down
      .header_span PayEasy Loans

  nav.nav.nav--loans
    form.nav__search
      button.nav__search-btn
      input.nav__search-input(type='text' placeholder='Search Loans')
    img(src='img/aboutus.png' alt='Loan logo' height="25")  
    a.nav__el(href='/viewloans') Loan List
    img(src='img/aboutus.png' alt='Loan logo' height="25")  
    a.nav__el(href='/aboutus') About Us
    img(src='img/login1.png' alt='Loan logo' height="25")  
    a.nav__el(href='/login') Login
    img(src='img/signup.png' alt='Loan logo' height="25")  
    a.nav__el(href='/signup') Signup
    img(src='img/faq.png' alt='Loan logo' height="25")  
    a.nav__el(href='/faq') FAQ
    //- a.nav__el(href='#')
    //-   img.nav__user-img(src='img/users/user.png' alt='User photo')
    //-   span Customer






