extends baseTemplate
  
block content    
  h1 About this Project
    
    
     //-img(src='img/takealoan1.png' alt='Loan logo',height="800rem",width="1700rem")
     .top-right1 This is Priyanka Mukati
     .top-right2 This is Module 8: Assignment Final Project
     .top-right3 
     .top-right3 
     
     
     .login_empty_container
     h2.heading-secondary.ma-bt-lg Message from PayEasy Loans

    
     p.description__text
     | If you receive what appears to be a fraudulent text message, we urge you to report it immediately. Forward any Bank Branch
     | -related messages to abuse@bankofbranch.com. Include the number the message came from and a copy of the message itself..
     p.description__text
     | A fraudulent email may ask you to supply information in a return email, in a separate form attached to the email or by visiting a fraudulent website using a link contained in the email message. The people attempting to get this information
     | may use it to access your accounts directly in order to withdraw money or to open new accounts in your name using your information!
    













