extends baseTemplate
  
block content    
 
    
    
     img(src='img/logout1.png' alt='Loan logo',height="950rem",width="1600rem")
     .top-right5 You have successfully logged out of PayEasy Loans
     .top-right6 Thank you for using PayEasy Loans
     //.top-right2 to logon to OnlineSBI
     
     
     

     h2.heading-secondary.ma-bt-lg Message from PayEasy Loans

    
     p.description__text
     | If you receive what appears to be a fraudulent text message, we urge you to report it immediately. Forward any Bank Branch
     | -related messages to abuse@bankofbranch.com. Include the number the message came from and a copy of the message itself..
     p.description__text
     | A fraudulent email may ask you to supply information in a return email, in a separate form attached to the email or by visiting a fraudulent website using a link contained in the email message. The people attempting to get this information
     | may use it to access your accounts directly in order to withdraw money or to open new accounts in your name using your information!
    













